@import './variables.css';
.Keyboard {

  background-color: var(--colour-dark-grey);
  color: var(--colour-almost-white);
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  margin-top: 1.5vh;
  margin-bottom: 1vh;
}

.hg-theme-default {
  background-color: var(--colour-dark-grey) !important;
  padding-right: 0.5vw;
  padding-left: 0.5vw;
}

.hg-theme-default .hg-button {
  background: var(--colour-light-grey)  !important;
}

.hg-theme-default .Correct {
  background-color: var(--colour-green) !important;
}

.hg-theme-default .ValidOutOfPosition {
  background-color: var(--colour-amber) !important;
}

.hg-theme-default .Incorrect {
  background-color: var(--colour-dark-grey) !important;
}