/* :root {
  --colour-amber: #b59f3b;
  --colour-green: #6aaa64;
  --colour-dark-grey: #787c7e;
  --colour-light-grey: #3a3a3c;
  --colour-almost-white: #f5f5fc;
} */

.Keyboard {

  background-color: var(--colour-dark-grey);
  color: var(--colour-almost-white);
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  margin-top: 1.5vh;
  margin-bottom: 1vh;
}
.hg-theme-default {
  background-color: var(--colour-dark-grey) !important;
}
/* .Keyboard .hg-button {
  background-color: var(--colour-light-grey);
} */
.hg-theme-default .hg-button {
  background: var(--colour-light-grey)  !important;
}